<div class="card">
    <div class="w-100">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <img  src="https://www.w3schools.com/images/w3schools_green.jpg" alt="">
                </div>
                <div class="col-8">
                    <h4><b>{{item.name}}</b></h4>
                    <hr><hr>
                    <div class="row">
                        <div class="col">
                            Current bid: <b>{{item.currentBid}}$</b>
                        </div>
                        
                        
                        
                    </div>
                    <button class="btn btn-success ">Bid</button>
                    
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p>Seller : </p> <p><b>Seller name</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>Offer expires on : </p> <p> <b>{{item.endDate}}</b></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
    
