<div class="container">
  <div class="jumbotron">
    <h1>Cinemas</h1>      
  </div>
<br>
<br>
<ul class="cinemasArray">
   <li *ngFor="let c of cinemasArray"
    [class.selected]="c === selectedCinema"
    (click)="onSelect(c)">
    <span class="badge">{{c.name}}</span> {{c.address}}
  </li>
</ul>
<br>
<div *ngIf="selectedCinema">
 
        <h2>{{ selectedCinema.name | uppercase }} Details</h2>
        <br>
        <div><span>address: </span>{{selectedCinema.address}}</div>
        <div><span>description: </span>{{selectedCinema.description}}</div>
       
      </div>