<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <a [routerLink]="['/login']">Login </a>
<div class="container">
  <div class="jumbotron">
      <h1>All registered users and their roles</h1>  
    
  </div>
  <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col-md-1">Username</th>
          <th scope="col-md-4">Full name</th>
          <th scope="col-md-4">Role</th>
          <th scope="col-md-2">Add new role</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users; let userIndex = index">
          
          <td>{{u.username}}</td>
          <td>{{u.name}} {{u.lastName}}</td>
          <td class="text-danger">
            <p *ngFor="let r of u.roles"><b>{{r.role}}<br></b></p>
          </td>
          <td>
            <ul>
              <li  *ngFor="let r of roles; let i = index" [value]="i"  >
                  {{r}}<button  class="btn btn-success btn-sm float-right" (click)="onClickPromote(u.username,i)"> Add  role</button><hr>
              </li>
            </ul>
           
        </tr>
        
      </tbody>
    </table>
    
    
            

  <hr>
</div>







</body>
</html>

