<h3 class="text-secondary" style="text-align: center"> Front </h3> 
<br>

<div class="row">
  <div class="col"> <button [class]="checkClass(1)" (click)="buttonClicked(1)" class="btn btn-success" style="width:100%; margin:1px"> 1 </button></div>
  <div class="col"> <button [class]="checkClass(2)" (click)="buttonClicked(2)" class="btn btn-success" style="width:100%; margin:1px"> 2 </button></div>
  <div class="col"> <button [class]="checkClass(3)" (click)="buttonClicked(3)" class="btn btn-success" style="width:100%; margin:1px"> 3 </button></div>
  <div class="col"> <button [class]="checkClass(4)" (click)="buttonClicked(4)" class="btn btn-success" style="width:100%; margin:1px"> 4 </button></div>
  
  <div class="col"> <button [class]="checkClass(5)" (click)="buttonClicked(5)" class="btn btn-success" style="width:100%; margin:1px"> 5 </button></div>
  <div class="col"> <button [class]="checkClass(6)" (click)="buttonClicked(6)" class="btn btn-success" style="width:100%; margin:1px"> 6 </button></div>
  <div class="col"> <button [class]="checkClass(7)" (click)="buttonClicked(7)" class="btn btn-success" style="width:100%; margin:1px"> 7 </button></div>
  <div class="col"> <button [class]="checkClass(8)" (click)="buttonClicked(8)" class="btn btn-success" style="width:100%; margin:1px"> 8 </button></div>
  
  <div class="col"> <button [class]="checkClass(9)" (click)="buttonClicked(9)" class="btn btn-success" style="width:100%; margin:1px"> 9 </button></div>
  <div class="col"> <button [class]="checkClass(10)" (click)="buttonClicked(10)" class="btn btn-success" style="width:100%; margin:1px"> 10 </button></div>
  <div class="col"> <button [class]="checkClass(11)" (click)="buttonClicked(11)" class="btn btn-success" style="width:100%; margin:1px"> 11 </button></div>
  <div class="col"> <button [class]="checkClass(12)"  (click)="buttonClicked(12)" class="btn btn-success" style="width:100%; margin:1px"> 12 </button></div>
</div>

<div class="row">
  <div class="col"> <button [class]="checkClass(13)" (click)="buttonClicked(13)" class="btn btn-success" style="width:100%; margin:1px"> 13 </button></div>
  <div class="col"> <button [class]="checkClass(14)" (click)="buttonClicked(14)" class="btn btn-success" style="width:100%; margin:1px"> 14 </button></div>
  <div class="col"> <button [class]="checkClass(15)" (click)="buttonClicked(15)" class="btn btn-success" style="width:100%; margin:1px"> 15 </button></div>
  <div class="col"> <button [class]="checkClass(16)" (click)="buttonClicked(16)" class="btn btn-success" style="width:100%; margin:1px"> 16 </button></div>
  
  <div class="col"> <button [class]="checkClass(17)" (click)="buttonClicked(17)" class="btn btn-success" style="width:100%; margin:1px"> 17 </button></div>
  <div class="col"> <button [class]="checkClass(18)" (click)="buttonClicked(18)" class="btn btn-success" style="width:100%; margin:1px"> 18 </button></div>
  <div class="col"> <button [class]="checkClass(19)" (click)="buttonClicked(19)" class="btn btn-success" style="width:100%; margin:1px"> 19 </button></div>
  <div class="col"> <button [class]="checkClass(20)" (click)="buttonClicked(20)" class="btn btn-success" style="width:100%; margin:1px"> 20 </button></div>
  
  <div class="col"> <button [class]="checkClass(21)" (click)="buttonClicked(21)" class="btn btn-success" style="width:100%; margin:1px"> 21 </button></div>
  <div class="col"> <button [class]="checkClass(22)" (click)="buttonClicked(22)" class="btn btn-success" style="width:100%; margin:1px"> 22 </button></div>
  <div class="col"> <button [class]="checkClass(23)" (click)="buttonClicked(23)" class="btn btn-success" style="width:100%; margin:1px"> 23 </button></div>
  <div class="col"> <button [class]="checkClass(24)" (click)="buttonClicked(24)" class="btn btn-success" style="width:100%; margin:1px"> 24 </button></div>
</div><div class="row">
  <div class="col"> <button [class]="checkClass(25)" (click)="buttonClicked(25)" class="btn btn-success" style="width:100%; margin:1px"> 25 </button></div>
  <div class="col"> <button [class]="checkClass(26)" (click)="buttonClicked(26)" class="btn btn-success" style="width:100%; margin:1px"> 26 </button></div>
  <div class="col"> <button [class]="checkClass(27)" (click)="buttonClicked(27)" class="btn btn-success" style="width:100%; margin:1px"> 27 </button></div>
  <div class="col"> <button [class]="checkClass(28)" (click)="buttonClicked(28)" class="btn btn-success" style="width:100%; margin:1px"> 28 </button></div>
  
  <div class="col"> <button [class]="checkClass(29)" (click)="buttonClicked(29)" class="btn btn-success" style="width:100%; margin:1px"> 29 </button></div>
  <div class="col"> <button [class]="checkClass(30)" (click)="buttonClicked(30)" class="btn btn-success" style="width:100%; margin:1px"> 30 </button></div>
  <div class="col"> <button [class]="checkClass(31)" (click)="buttonClicked(31)" class="btn btn-success" style="width:100%; margin:1px"> 31 </button></div>
  <div class="col"> <button [class]="checkClass(32)" (click)="buttonClicked(32)" class="btn btn-success" style="width:100%; margin:1px"> 32 </button></div>
  
  <div class="col"> <button [class]="checkClass(33)" (click)="buttonClicked(33)" class="btn btn-success" style="width:100%; margin:1px"> 33 </button></div>
  <div class="col"> <button [class]="checkClass(34)" (click)="buttonClicked(34)" class="btn btn-success" style="width:100%; margin:1px"> 34 </button></div>
  <div class="col"> <button [class]="checkClass(35)" (click)="buttonClicked(35)" class="btn btn-success" style="width:100%; margin:1px"> 35 </button></div>
  <div class="col"> <button [class]="checkClass(36)" (click)="buttonClicked(36)" class="btn btn-success" style="width:100%; margin:1px"> 36 </button></div>
</div><div class="row">
  <div class="col"> <button [class]="checkClass(37)" (click)="buttonClicked(37)" class="btn btn-success" style="width:100%; margin:1px"> 37 </button></div>
  <div class="col"> <button [class]="checkClass(38)" (click)="buttonClicked(38)" class="btn btn-success" style="width:100%; margin:1px"> 38 </button></div>
  <div class="col"> <button [class]="checkClass(39)" (click)="buttonClicked(39)" class="btn btn-success" style="width:100%; margin:1px"> 39 </button></div>
  <div class="col"> <button [class]="checkClass(40)" (click)="buttonClicked(40)" class="btn btn-success" style="width:100%; margin:1px"> 40 </button></div>
  
  <div class="col"> <button [class]="checkClass(41)" (click)="buttonClicked(41)" class="btn btn-success" style="width:100%; margin:1px"> 41 </button></div>
  <div class="col"> <button [class]="checkClass(42)" (click)="buttonClicked(42)" class="btn btn-success" style="width:100%; margin:1px"> 42 </button></div>
  <div class="col"> <button [class]="checkClass(43)" (click)="buttonClicked(43)" class="btn btn-success" style="width:100%; margin:1px"> 43 </button></div>
  <div class="col"> <button [class]="checkClass(44)" (click)="buttonClicked(44)" class="btn btn-success" style="width:100%; margin:1px"> 44 </button></div>
  
  <div class="col"> <button [class]="checkClass(45)" (click)="buttonClicked(45)" class="btn btn-success" style="width:100%; margin:1px"> 45 </button></div>
  <div class="col"> <button [class]="checkClass(46)" (click)="buttonClicked(46)" class="btn btn-success" style="width:100%; margin:1px"> 46 </button></div>
  <div class="col"> <button [class]="checkClass(47)" (click)="buttonClicked(47)" class="btn btn-success" style="width:100%; margin:1px"> 47 </button></div>
  <div class="col"> <button [class]="checkClass(48)" (click)="buttonClicked(48)" class="btn btn-success" style="width:100%; margin:1px"> 48 </button></div>
</div>

<hr> 

<div class="row">
  <div class="col"> <button [class]="checkClass(49)" (click)="buttonClicked(49)" class="btn btn-success" style="width:100%; margin:1px"> 49 </button></div>
  <div class="col"> <button [class]="checkClass(50)" (click)="buttonClicked(50)" class="btn btn-success" style="width:100%; margin:1px"> 50 </button></div>
  <div class="col"> <button [class]="checkClass(51)" (click)="buttonClicked(51)" class="btn btn-success" style="width:100%; margin:1px"> 51 </button></div>
  <div class="col"> <button [class]="checkClass(52)" (click)="buttonClicked(52)" class="btn btn-success" style="width:100%; margin:1px"> 52 </button></div>
  
  <div class="col"> <button [class]="checkClass(53)" (click)="buttonClicked(53)" class="btn btn-success" style="width:100%; margin:1px"> 53 </button></div>
  <div class="col"> <button [class]="checkClass(54)" (click)="buttonClicked(54)" class="btn btn-success" style="width:100%; margin:1px"> 54 </button></div>
  <div class="col"> <button [class]="checkClass(55)" (click)="buttonClicked(55)" class="btn btn-success" style="width:100%; margin:1px"> 55 </button></div>
  <div class="col"> <button [class]="checkClass(56)" (click)="buttonClicked(56)" class="btn btn-success" style="width:100%; margin:1px"> 56 </button></div>
  
  <div class="col"> <button [class]="checkClass(57)" (click)="buttonClicked(57)" class="btn btn-success" style="width:100%; margin:1px"> 57 </button></div>
  <div class="col"> <button [class]="checkClass(58)" (click)="buttonClicked(58)" class="btn btn-success" style="width:100%; margin:1px"> 58 </button></div>
  <div class="col"> <button [class]="checkClass(59)" (click)="buttonClicked(59)" class="btn btn-success" style="width:100%; margin:1px"> 59 </button></div>
  <div class="col"> <button [class]="checkClass(60)" (click)="buttonClicked(60)" class="btn btn-success" style="width:100%; margin:1px"> 60 </button></div>
</div>

<div class="row">
  <div class="col"> </div>
  <div class="col"> <button [class]="checkClass(61)" (click)="buttonClicked(61)" class="btn btn-success" style="width:100%; margin:1px"> 61 </button></div>
  <div class="col"> <button [class]="checkClass(62)" (click)="buttonClicked(62)" class="btn btn-success" style="width:100%; margin:1px"> 62 </button></div>
  <div class="col"> <button [class]="checkClass(63)" (click)="buttonClicked(63)" class="btn btn-success" style="width:100%; margin:1px"> 63 </button></div>
  
  <div class="col"> <button [class]="checkClass(64)" (click)="buttonClicked(64)" class="btn btn-success" style="width:100%; margin:1px"> 64 </button></div>
  <div class="col"> <button [class]="checkClass(65)" (click)="buttonClicked(65)" class="btn btn-success" style="width:100%; margin:1px"> 65 </button></div>
  <div class="col"> <button [class]="checkClass(66)" (click)="buttonClicked(66)" class="btn btn-success" style="width:100%; margin:1px"> 66 </button></div>
  <div class="col"> <button [class]="checkClass(67)" (click)="buttonClicked(67)" class="btn btn-success" style="width:100%; margin:1px"> 67 </button></div>
  
  <div class="col"> <button [class]="checkClass(68)" (click)="buttonClicked(68)" class="btn btn-success" style="width:100%; margin:1px"> 68 </button></div>
  <div class="col"> <button [class]="checkClass(69)" (click)="buttonClicked(69)" class="btn btn-success" style="width:100%; margin:1px"> 69 </button></div>
  <div class="col"> <button [class]="checkClass(70)" (click)="buttonClicked(70)" class="btn btn-success" style="width:100%; margin:1px"> 70 </button></div>
  <div class="col"> </div>
</div><div class="row">
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> <button [class]="checkClass(71)" (click)="buttonClicked(71)" class="btn btn-success" style="width:100%; margin:1px"> 71 </button></div>
  <div class="col"> <button [class]="checkClass(72)" (click)="buttonClicked(72)" class="btn btn-success" style="width:100%; margin:1px"> 72 </button></div>
  
  <div class="col"> <button [class]="checkClass(73)" (click)="buttonClicked(73)" class="btn btn-success" style="width:100%; margin:1px"> 73 </button></div>
  <div class="col"> <button [class]="checkClass(74)" (click)="buttonClicked(74)" class="btn btn-success" style="width:100%; margin:1px"> 74 </button></div>
  <div class="col"> <button [class]="checkClass(75)" (click)="buttonClicked(75)" class="btn btn-success" style="width:100%; margin:1px"> 75 </button></div>
  <div class="col"> <button [class]="checkClass(76)" (click)="buttonClicked(76)" class="btn btn-success" style="width:100%; margin:1px"> 76 </button></div>
  
  <div class="col"> <button [class]="checkClass(77)" (click)="buttonClicked(77)" class="btn btn-success" style="width:100%; margin:1px"> 77 </button></div>
  <div class="col"> <button [class]="checkClass(78)" (click)="buttonClicked(78)" class="btn btn-success" style="width:100%; margin:1px"> 78 </button></div>
  <div class="col"> </div>
  <div class="col"> </div>
</div>

<div class="row">
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> <button [class]="checkClass(79)" (click)="buttonClicked(79)" class="btn btn-success" style="width:100%; margin:1px"> 79 </button></div>
  
  <div class="col"> <button [class]="checkClass(80)" (click)="buttonClicked(80)" class="btn btn-success" style="width:100%; margin:1px"> 80 </button></div>
  <div class="col"> <button [class]="checkClass(81)" (click)="buttonClicked(81)" class="btn btn-success" style="width:100%; margin:1px"> 81 </button></div>
  <div class="col"> <button [class]="checkClass(82)" (click)="buttonClicked(82)" class="btn btn-success" style="width:100%; margin:1px"> 82 </button></div>
  <div class="col"> <button [class]="checkClass(83)" (click)="buttonClicked(83)" class="btn btn-success" style="width:100%; margin:1px"> 83 </button></div>
  
  <div class="col"> <button [class]="checkClass(84)" (click)="buttonClicked(84)" class="btn btn-success" style="width:100%; margin:1px"> 84 </button></div>
  <div class="col"> </div>
  <div class="col"> </div>
  <div class="col"> </div>
</div>

<br>
<h3 class="text-secondary" style="text-align: center"> Back </h3>
<br>
<div class="row" style="text-align: center">
  <div class="col-sm-4"> 
      <div class="form-group">
          <label for="buttonAvailable"> Available </label>
          <button id="buttonAvailable" class="btn btn-success rounded-circle"> </button>
        </div>
  </div>

  <div class="col-sm-4"> 
      <div class="form-group">
          <label for="buttonAvailable"> Selected </label>
          <button class="btn btn-primary rounded-circle"> </button>
      </div>  
  </div>

  <div class="col-sm-4"> 
          <div class="form-group">
              <label for="buttonAvailable"> Booked </label>
              <button class="btn btn-secondary rounded-circle"> </button>
          </div>
  </div>

</div>
