<div class="progress">
        <div class="progress-bar" style="width:80%"></div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Cinema at its best can express something of the pure irreducible fact of things.</p>
            <footer class="blockquote-footer"> <cite title="Source Title">Lenny Abrahamson</cite></footer>
        </blockquote>
    </div>
</div>

<br>
<br>


<br>

<!-- Section:Friends -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-block">
          <h2 class="card-title"  style="color:#009688; padding-top:15px; padding-left: 10px;" ><i class="fa fa-trophy fa-fw"></i> My Friends</h2>
          <div style="height: 15px"></div>
          <table class="table table-bordered table-hover">
            <thead class="thead-default">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Surname</th>
              <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody *ngFor="let f of userFriends; let i = index;">
              <tr *ngIf="f.enabled === true">
                <th scope="row">{{i+1}}</th>
                <td>{{f.friendUsername}}</td>
                <td>{{f.friendFirstName}}</td>
                <td>{{f.friendLastName}} <button [class]="inviteButtonClass(f.friendId)" [disabled]="disableInvites" class="btn btn-success" style="float:right" (click)="inviteFriend(f.friendId)"> Invite </button> </td>
                
              </tr>
              
            </tbody>
          </table>
        </div>
    </div>
</div>
<!-- End:Awards -->


