<div class="progress">
        <div class="progress-bar" style="width:80%"></div>
</div>

<h1 class="text-md-center">Step 4</h1>

<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Cinema at its best can express something of the pure irreducible fact of things.</p>
            <footer class="blockquote-footer"> <cite title="Source Title">Lenny Abrahamson</cite></footer>
        </blockquote>
    </div>
</div>

<br>
<br>


<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
                <label for="projection"> <h2>Select projection</h2></label>
                <select class="form-control" id="projection">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>
        </div>
    </div>
    <hr>
    
    <div class="col-md-12">
            <label for="projectionDate"> <h2>Projection date</h2></label>
            <input type="date" class="form-control" id="projectionDate" style="text-align:center; margin:1px">       
     </div>
</div>


