
<div class="container" [hidden]="changeSeatingChartHidden">
    <div class="jumbotron">
        <h1>{{currentCinema.name}}</h1>    
    </div>
  <br>
  <br>
  <div class="card">
    <div class="card-body">
        <div class="col-8">
            <h4><b>Address: </b></h4>
        </div>
    </div>
    <div class="card-body">
            <div class="col-8">
                <p>{{currentCinema.address}}</p>
            </div>
        </div>

<div class="card">
    <div class="card-body">
            <div class="col-8">
                <h4><b>Description: </b></h4>
            </div>
        </div>
    <div class="card-body">
                <div class="col-8">
                    <p>{{currentCinema.description}}</p>
                </div>
            </div>
    </div>
    <div class="card">
    
    <div class="card-body">
        <div class="col-8">
            <h4><b>Repertoar: </b></h4>
            <button class="btn" (click)="addMovieFunct()">Add movie</button>

            <div>
                <form  [hidden]="addMovie" (ngSubmit)="onSubmitAdd(f, currentc)" #f="ngForm" >
                    <p>Name: </p><input type="text" class="form-control" 
                    name="name" ngModel required>
                    <p>Description: </p><input type="text" class="form-control" name="description"
                        ngModel required> 
                        <p>Genre: </p><input type="text" class="form-control" name="genre"
                        ngModel required> 
                        <p>Producer: </p><input type="text" class="form-control" name="producer"
                        ngModel required> 
                            
            <button type="submit"  class="btn btn-dark btn-lg" [disabled] = "!f.valid">Add</button>
            </form>
            </div>
        </div>
        <table>
            <tr *ngFor="let m of movies; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{m.name}}</td>
                <td>{{m.genre}}</td>
                <td *ngFor="let a of m.actors">{{a.name}} {{a.lastName}}</td>
                <td><button class="btn" (click)="addProjection(m)"> Add projection</button></td>
                <td><button class="btn" (click)="deleteMovie(m.id, currentCinema.id)"> Delete </button></td>
                <td *ngFor=" let p1 of currentCinema.projekcije">
                
                    <div *ngFor=" let p of m.projekcije">
                    
                        <div *ngIf="p.id==p1.id">
                        
                        <div class="card" [hidden]="!hiddenEditing[p.id]">
                                
                            <p> {{p.date}}</p>
                            <p> {{p.time}}</p>
                            <p> {{p.place}}</p>
                            <p> {{p.price}}</p>
                            <p> {{p.rating}}</p>
                            <p><button class="btn" (click)="changeSeatingChart(p.id)"> Change seating chart </button></p>
                            <p><button class="btn" [hidden]="!hiddenEditing[p.id]" (click)="changeProjection(m.id, p.id, currentCinema.id)"> Change projection</button></p>
                            <p><button class="btn" (click)="deleteProjection(m.id, p.id, currentCinema.id)"> Delete projection</button></p>
                            <p><button class="btn" (click)="openAdding(p.id)"> Add fast reservation ticket</button></p>
                            <form [hidden]="hiddenFastRes[p.id]" (ngSubmit)="onSubmit1(price, seat, m.id, p, currentCinema.id)" #f1="ngForm">
                                <p>New price</p><input type="text" class="form-control" name="price"
                                    id="price" #price required>
                                <p>Seat number</p><input type="text" class="form-control" name="seat"
                                    id="seat" #seat required> 

                                  <button type="submit"  class="btn btn-dark btn-lg" [disabled] = "!f.valid">Add</button>
                            </form>
                            
                        </div>
                            <form  [hidden]="hiddenEditing[p.id]" (ngSubmit)="onSubmit(f, p.id)" #f="ngForm" >
                                    <input type="text" class="form-control" name="date"
                                    [(ngModel)] = "p.date" required>
                                    <input type="text" class="form-control" name="time"
                                        [(ngModel)] = "p.time" required> 
                                    <input type="text" class="form-control" name="place"
                                        [(ngModel)] = "p.place" required> 
                                    <input type="text" class="form-control" name="price"
                                        [(ngModel)] = "p.price" required> 
                                            
                            <button type="submit"  class="btn btn-dark btn-lg" [disabled] = "!f.valid">Save changes</button>
                            </form>
        
                      
                    </div>
                    </div>
                    
                </td>                            
            </tr>
        </table>
         
    </div>

    <div class="card">
            <div class="card-body">
               
                    <div class="col-8">
                        <h4><b>Tickets for fast reservation: </b></h4>
                    </div>
                </div>
            <div class="card-body">
                        <div class="col-8">
                            <div *ngFor="let p of currentCinema.projekcije">
                            
                           
                            <div *ngFor="let t of p.tickets">
                                    <div *ngIf="t.fastRes==true">
                                            <div *ngIf="t.sold==false">
                                            <p>{{p.id}}</p>
                                            <p>Original price: {{p.price}}</p>
                                            <p><b>New price: {{t.salePrice}}</b> (you will save: {{p.price-t.salePrice}})</p>
                                            <p>Place: {{p.place}}</p>
                                            <p>Time: {{p.time}}</p>
                                            <p>Seat number: {{t.seatNumber}}</p>

                                            <div *ngFor="let m of movies">
                                                    <div *ngFor="let p1 of m.projekcije">
                                                        <div *ngIf="p1.id==p.id">
                                                            <p>Movie: {{m.name}}</p>
                                                        </div>
                                                    </div>
                                                <button class="btn" (click)="reserve(t, t.id, currentCinema.id)">Reserve</button>
                                                <button class="btn" (click)="delete(t, t.id, currentCinema.id)">Delete</button>
                                            </div>
                                            
                                        </div>
                                        </div>
                                    </div>
                                    <br>
                            </div>
                        </div>
                    </div>
            </div>


    <div class="card">
        <div class="card-body">
            <!-->seating chart<-->
        </div>
    </div>
       
    </div>

</div>

</div>
<div [hidden]="!changeSeatingChartHidden">
    <seating-chart 
    [currentProjection]=currentProjection
    (selectedSeats)="onChangeSelectedSeats($event)"
    >

    </seating-chart>
    <button class="btn btn-primary" (click)="finishChangingSeats()">Finish changing seats</button>
</div>
 
