<div class="progress">
        <div class="progress-bar" style="width:40%"></div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote text-center">
            <p class="mb-0">I have always thought that, of all the arts, the cinema is the most complete art.</p>
            <footer class="blockquote-footer"> <cite title="Source Title">Alejandro Jodorowsky</cite></footer>
        </blockquote>
    </div>
</div>

<br>
<br>


<br>
          <!-- *********************************** THEATRE ****************************************** -->

<div class="row" [hidden]="!cinemaSelected">
                <div class="col-md-12">
                    <div class="form-group">
                            <label for="plays"> <h2>Select play</h2></label>
                            <select class="form-control" id="plays" (change)="onChangePlay($event.target.value)">
                                    <option hidden selected value="">
                                            -- select a play --
                                        </option>
                            <option *ngFor="let m of moviesArray" value="{{m?.id}}"> {{m?.name}}</option>
                            </select>
                    </div>
                </div>
                <hr>
                
                <div class="col-md-12">
                        <label for="playDate"> <h2>Projection date</h2></label>
                        <select class="form-control" id="playDate" (change)="onChangeDate($event.target.value)">
                                <option hidden selected value="">
                                        -- select a date --
                                    </option>
                        <option *ngFor="let d of datesAvailable"> {{d}}</option>
                        </select>
                </div>
            
                <div class="col-md-12">
                        <label for="playPlace"> <h2>Projection place</h2></label>
                        <select class="form-control" id="playPlace" (change)="onChangePlace($event.target.value)">
                                <option hidden selected value="">
                                        -- select a place --
                                    </option>
                        <option *ngFor="let p of placesAvailable"> {{p}}</option>
                        </select>
                </div>
            
                <div class="col-md-12">
                        <label for="playTime"> <h2>Projection time</h2></label>
                        <select class="form-control" id="playTime" (change)="onChangeTime($event.target.value)">
                                <option hidden selected value="">
                                        -- select a time --
                                    </option>
                        <option *ngFor="let t of timesAvailable"> {{t}}</option>
                        </select>
                </div>

                <div class="col-md-12">
                        <label for="playPrice"> <h4>Projection price</h4></label>
                        <input disabled  class="form-control" id="playPrice" value="{{projectionPrice}}" />
                </div>



            </div>


        <!-- *********************************** THEATRE ****************************************** -->







        <!-- *********************************** CINEMA ****************************************** -->

<div class="row" [hidden]="cinemaSelected">
    <div class="col-md-12">
        <div class="form-group">
                <label for="movies"> <h2>Select projection</h2></label>
                <select class="form-control" id="movies" (change)="onChangeMovie($event.target.value)">
                        <option hidden selected value="">
                                -- select a movie --
                            </option>
                <option *ngFor="let m of moviesArray" value="{{m?.id}}"> {{m?.name}}</option>
                </select>
        </div>
    </div>
    <hr>
    
    <div class="col-md-12">
            <label for="movieDate"> <h2>Projection date</h2></label>
            <select class="form-control" id="movieDate" (change)="onChangeDate($event.target.value)">
                    <option hidden selected value="">
                            -- select a date --
                        </option>
            <option *ngFor="let d of datesAvailable"> {{d}}</option>
            </select>
    </div>

    <div class="col-md-12">
            <label for="moviePlace"> <h2>Projection place</h2></label>
            <select class="form-control" id="moviePlace" (change)="onChangePlace($event.target.value)">
                    <option hidden selected value="">
                            -- select a place --
                        </option>
            <option *ngFor="let p of placesAvailable"> {{p}}</option>
            </select>
    </div>

    <div class="col-md-12">
            <label for="movieTime"> <h2>Projection time</h2></label>
            <select class="form-control" id="movieTime" (change)="onChangeTime($event.target.value)">
                    <option hidden selected value="">
                            -- select a time --
                        </option>
            <option *ngFor="let t of timesAvailable"> {{t}}</option>
            </select>
    </div>

    <div class="col-md-12">
                <label for="moviePrice"> <h4>Projection price</h4></label>
                <input disabled  class="form-control" id="moviePrice" value="{{projectionPrice}}" />
        </div>
</div>

      <!-- *********************************** CINEMA ****************************************** -->
