<div class="progress">
        <div class="progress-bar" style="width:40%"></div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote text-center">
            <p class="mb-0">I have always thought that, of all the arts, the cinema is the most complete art.</p>
            <footer class="blockquote-footer"> <cite title="Source Title">Alejandro Jodorowsky</cite></footer>
        </blockquote>
    </div>
</div>

<br>
<br>


<br>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
                <label for="projection"> <h2>Select projection</h2></label>
                <select class="form-control" id="projection" (change)="onChangeProjection($event.target.value)">
                        <option hidden selected value="">
                                -- select a cinema --
                            </option>
                <option *ngFor="let m of moviesArray"> {{m?.name}}</option>
                </select>
        </div>
    </div>
    <hr>
    
    <div class="col-md-12">
            <label for="projectionDate"> <h2>Projection date</h2></label>
            <select class="form-control" id="projection" (change)="onChangeDate($event.target.value)">
                    <option hidden selected value="">
                            -- select a date --
                        </option>
            <option *ngFor="let p of projectionsArray"> {{p?.date}}</option>
            </select>
    </div>

    <div class="col-md-12">
            <label for="projectionDate"> <h2>Projection place</h2></label>
            <select class="form-control" id="projection" (change)="onChangePlace($event.target.value)">
                    <option hidden selected value="">
                            -- select a place --
                        </option>
            <option *ngFor="let p of projectionsArray"> {{p?.place}}</option>
            </select>
    </div>

    <div class="col-md-12">
            <label for="projectionDate"> <h2>Projection time</h2></label>
            <select class="form-control" id="projection" (change)="onChangeTime($event.target.value)">
                    <option hidden selected value="">
                            -- select a time --
                        </option>
            <option *ngFor="let p of projectionsArray"> {{p?.time}}</option>
            </select>
    </div>
</div>

