<div class="row justify-content-start">
    <div class="col"> <button class="btn btn-success" style="width:100%"> 1 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 2 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 3 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 4 </button></div>
    
    <div class="col"> <button class="btn btn-success" style="width:100%"> 5 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 6 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 7 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 8 </button></div>
    
    <div class="col"> <button class="btn btn-success" style="width:100%"> 9 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 10 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 11 </button></div>
    <div class="col"> <button class="btn btn-success" style="width:100%"> 12 </button></div>
  </div>

  <div class="row">
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
    <div class="col"> <button class="btn btn-success"> </button></div>
  </div>