<div class="progress">
  <div class="progress-bar" style="width:100%"></div>
</div>

<h1 class="text-md-center">Step 5</h1>

<div class="row">
<div class="col-md-12">
  <blockquote class="blockquote text-center">
      <p class="mb-0">Cinema at its best can express something of the pure irreducible fact of things.</p>
      <footer class="blockquote-footer"> <cite title="Source Title">Lenny Abrahamson</cite></footer>
  </blockquote>
</div>
</div>

<br>
<br>


<br>

<h2> Current reservation </h2>

<br>
<br>

<h4> {{movieReservation?.movieName}} </h4>
<h4> {{movieReservation?.date}} </h4>
<h4> {{movieReservation?.time}} </h4>
<h4> {{movieReservation?.place}} </h4>