
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
          <h1>My Fanzone</h1>  
      </div>
    </div>
  </div>
</div>
<a [routerLink]="['/login']">Login </a>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item border-right">
      <a class="nav-link" data-toggle="tab"  (click)="onClickMyBids()" [routerLink]="">My bids</a>
    </li>
    <li class="nav-item border-right">
      <a class="nav-link" data-toggle="tab" [routerLink]="" (click)="onClickMyItems()">My items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab"  [routerLink]="" (click)="onClickBoughtItems()">Bought items</a>
    </li>
    
  </ul>
</div>



<div class="container" >
  <h1>My bids</h1>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        
        <th scope="col-md-4">Item</th>
        <th scope="col-md-4">Owner</th>
        <th scope="col-md-2">Value</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid of bidList">
        
        <td>{{bid.item.name}}</td>
        <td>{{bid.buyer.username}}</td>
        <td class="text-danger"><b>{{bid.value}}</b></td>
        
      </tr>
      
    </tbody>
  </table>
</div>



</body>
</html>
