<div class="container">
    <div class="jumbotron">
        <h1>{{currentCinema.name}}</h1>    
    </div>
  <br>
  <br>
  <div class="card">
    <div class="card-body">
        <div class="col-8">
            <h4><b>Address: </b></h4>
        </div>
    </div>
    <div class="card-body">
            <div class="col-8">
                <p>{{currentCinema.address}}</p>
            </div>
        </div>
    </div>

<div class="card">
    <div class="card-body">
            <div class="col-8">
                <h4><b>Description: </b></h4>
            </div>
        </div>
    <div class="card-body">
                <div class="col-8">
                    <p>{{currentCinema.description}}</p>
                </div>
            </div>
    </div>
    <div class="card">
    
    <div class="card-body">
        <div class="col-8">
            <h4><b>Repertoar: </b></h4>
        </div>
        <table>
            <tr *ngFor="let m of movies; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{m.name}}</td>
                <td>{{m.genre}}</td>
                <td><button class="btn" (click)="viewMovie(m.id)"> View </button></td>
                <td><button class="btn" (click)="addProjection(m.id)"> Add projection</button></td>
                <!--td><button class="btn" (click)="deleteMovie(m.id, currentCinema.id)"> Delete </button></td-->
                <td *ngFor=" let p1 of currentCinema.projekcije">
                    <div *ngFor=" let p of m.projekcije">
                        <div *ngIf="p.id==p1.id">
                        <div class="card">
                            <p> {{p.date}}</p>
                            <p> {{p.time}}</p>
                            <p> {{p.place}}</p>
                            <p> {{p.price}}</p>
                            <p><button class="btn" (click)="deleteProjection(m.id, p.id, currentCinema.id)"> Delete projection</button></p>
                        </div>
                    </div>
                    </div>
                    
                </td>                            
            </tr>
        </table>
         
    </div>
       
    </div>
  </div>

 
