
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<a [routerLink]="['/login']">Login </a>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
          <h1>Fanzone</h1>  
          
          <!--<p>Browse and bid on !</p> -->
          
      </div>
      <div class="col text-right">
          <button *ngIf="preowned" class="btn btn-dark btn-md" (click)="onClickPending()">Pending items</button>
          <button class="btn btn-dark btn-md" (click)="onClickMyFanzone()">My fanzone</button>
      </div>
    </div>
    
  </div>
  
</div>
<div class="container" border-bottom>
  <ul class="nav nav-tabs">
    <li class="nav-item border-right">
      <a class="nav-link" data-toggle="tab"  (click)="onClickPreOwnedItems()" [routerLink]="">Pre-owned items</a>
    </li>
    <li class="nav-item border-right">
      <a class="nav-link" data-toggle="tab" [routerLink]="" (click)="onClickNewItems()">New items</a>
    </li>
    
    <hr> <button *ngIf = "preowned" class="btn btn-dark" (click)="onClickAddNewItem()">Add preowned item</button>
         <button *ngIf = "!preowned" class="btn btn-dark" (click)="onClickAddNewNewItem()">Add new item</button>
  </ul>
  <br>
  <h2 *ngIf="preowned"> Preowned items for sale</h2>
  <h2 *ngIf="!preowned"> New items for sale</h2>
  
</div>


<div class="container" *ngIf = "preowned" >
    <item-component [items] = approveditems></item-component>
</div>

<div class="container" *ngIf = "!preowned" >
  <newitem-component [items] = newitems></newitem-component>
</div>


</body>
</html>
