
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
          <h1>Fanzone</h1>      
          <!--<p>Browse and bid on !</p> -->
          <button class="btn btn-dark btn-lg" (click)="onClickAddNewItem()">Add new item</button>
      </div>
      <div class="col text-right">
          <button class="btn btn-dark btn-md" (click)="onClickPending()">Pending items</button>
      </div>
    </div>
    
  </div>
  
</div>



<div class="container" >
    <item-component [items] = approveditems></item-component>
</div>



</body>
</html>
