<div class="progress">
        <div class="progress-bar" style="width:60%"></div>
</div>

<h1 class="text-md-center">Step 3</h1>

<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote text-center">
            <p class="mb-0">Great theatre is about challenging how we think and encouraging us to fantasize about a world we aspire to.</p>
            <footer class="blockquote-footer"> <cite title="Source Title">Willem Dafoe</cite></footer>
        </blockquote>
    </div>
</div>

<br>


<seating-chart></seating-chart>


