<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light" 
      style="text-align: center;">
      


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" >------------------</a>
              </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pozorista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bioskopi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Prijatelji</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Rezervacije</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Podesavanja</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Fan zona</a>
          </li>
          <li class="nav-item">
              <a class="nav-link">-------------------</a>
            </li>
          
          
        </ul>

      </div>
  </nav>

  <div *ngIf="loggedUser!==undefined">

      <h3> {{loggedUser.username}} </h3>
      <h3> {{loggedUser.firstName}} </h3>
      <h3> {{loggedUser.lastName}} </h3>
      <h3> {{loggedUser.phoneNumber}} </h3>
      <h3> {{loggedUser.city}} </h3>
  </div>

  <button (click)="onSubmit()"> klikni me</button>



</div>
