<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
<meta charset="ISO-8859-1"> </meta>
<title>LOGIN</title>
</head>
<body>

<h1>Login page</h1>
   
    <form th:action="@{/login}" method="post"> <!-- ovo je jako bitno za login -->
      <label for="username">Email</label>:
      <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /> <br />
      <input type="submit" value="Prijava" />
    </form>

	<form th:action="@{/login/registration}" method="get"> <!-- ovo je jako bitno za login -->
		<input type="submit" value="Registracija" />
    </form>
	
</body>
</html>