<div *ngFor="let item of items" >
    <div class="card" >
        <div class="w-100">
            <div class="card-body" (click)="onClickSetSelectedNewItem(item.itemID)">
                <div class="row">
                    <div class="col">
                        <img  [src]="item.image" class="img-fluid rounded w-100  h-100" alt="">
                    </div>
                    <div class="col-8">
                        <h4>
                            <b>{{item.name}} </b> <span class="badge badge-pill badge-danger float-right">NEW</span> 
                            <span class="badge badge-pill badge-warning float-right" *ngIf="item.reserved">RESERVED</span> 

                        </h4> 
                        <hr>
                        <div class="row">
                            <div class="col">
                               Item price: <b>{{item.price}}$</b> 
                               <p *ngIf="userType == 1" > Price with discount for bronze user: <font color="brown"><b>{{item.price*0.95}}$</b> </font></p>
                               <p *ngIf="userType == 2" > Price with discount for silver user: <font color="gray"><b>{{item.price*0.90}}$</b> </font></p>
                               <p *ngIf="userType == 3" > Price with discount for gold user: <font color="gold"><b>{{item.price*0.85}}$</b> </font></p>
                            </div>
                            
                            
                            
                        </div>
                        <button [disabled]="item.reserved" class="btn btn-success">Click to reserve this item</button>
                        
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <p *ngIf="item.cinemaOwner != null">Where to buy : </p> <p *ngIf="item.cinemaOwner != null"><b >{{item.cinemaOwner.name}}</b> , {{item.cinemaOwner.address}}</p>
                                <p *ngIf="item.theatreOwner != null">Where to buy : </p> <p *ngIf="item.theatreOwner != null"><b>{{item.theatreOwner.name}}</b> , {{item.theatreOwner.address}}</p>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="card-footer">  
                <div class="row">
                    <div class="text-left">
                        <button class="btn btn-dark btn-sm" (click)="onClickDelete(item.itemID)">Delete</button>
                        <button class="btn btn-dark btn-sm" (click)="onClickEdit(item.itemID)">Edit</button>
                        
                    </div>
                </div>
            </div>
        
    </div>
</div>
<hr>
</div>    
