<div class="container">
  <div class="jumbotron">
    <h1>Theatres</h1>      
  </div>
<br>
<br>
<ul class="theatresArray">
   <li *ngFor="let t of theatresArray"
    [class.selected]="t === selectedTheatre"
    (click)="onSelect(t)">
    <span class="badge">{{t.name}}</span> {{t.address}}
  </li>
</ul>
<br>
<div *ngIf="selectedTheatre">
 
        <h2>{{ selectedTheatre.name | uppercase }} Details</h2>
        <br>
        <div><span>address: </span>{{selectedTheatre.address}}</div>
        <div><span>description: </span>{{selectedTheatre.description}}</div>
       
      </div>