
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <a [routerLink]="['/login']">Login </a>
<div class="container">
  <div class="jumbotron">
    <h1>Add new theatre</h1>      
    <!--<p>Browse and bid on !</p> -->
    
  </div>
  
</div>


<div class="container " >
        <div class="justify-content-center align-items-center">
            <div class="form-area ">  
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                <br style="clear:both">
                            
                            <div class="form-group">
                                <label>Theatre name</label>
                                <input type="text" class="form-control" name="name" minlength="3"
                                [(ngModel)] = "theatre.name"   
                                    required
                                    >

                            </div>
                            <div class="form-group">
                                    <label>Theatre description</label>
                                    <textarea class="form-control" type="textarea"  minlength="10" maxlength="300" rows="3" name="description"
                                        [(ngModel)]= "theatre.description"
                                        required>
                                    </textarea>
                            </div>  
                            
                            <hr>           
                           
                            <hr>
                            <div class="form-group">
                                    <label> Write down the theatre address and make sure that it's in  order </label>
                                    <input type="text" class="form-control"   name="image" 
                                    [(ngModel)]= "theatre.address" placeholder="(street, city, country)"
                                    required
                                    >
                                   
                            </div>

                            <hr><hr>
                <button type="submit"  class="btn btn-dark btn-lg" [disabled] = "!f.valid">Add theatre</button>
                </form>
            </div>
        </div>
        </div>


</body>
</html>
