
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Edit item</h1>      
    <!--<p>Browse and bid on !</p> -->
    
  </div>
  
</div>


<div class="container " >
        <div class="justify-content-center align-items-center">
            <div class="form-area ">  
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                <br style="clear:both">
                            
                            <div class="form-group">
                                <label>Change  item name</label> 
                                <input type="text" class="form-control" name="name"
                                [(ngModel)] = "item.name"   
                                    required
                                    minlength="3"
                                    maxlength="100"
                                    >

                            </div>
                            <div class="form-group">
                                    <label>Change  item description</label>
                                    <textarea class="form-control" type="textarea"  minlength="10" maxlength="300" rows="3" name="description"
                                        [(ngModel)]= "item.description"
                                        required
                                        >
                                    </textarea>
                            </div>


                            <label>
                              Choose where is this item being sold
                            </label>
                            <div class="radio" *ngFor="let p of places" >
                              <input type="radio" [(ngModel)]="item.place" name="place" [value]="p"> {{p}}
                            </div>  
                            <hr>
                            <label *ngIf="item.place === 'Cinema'"> Select cinema</label>
                            <label *ngIf="item.place === 'Theatre'"> Select theatre</label>
                            <div class="form-group">
                                <select required title="All cinemas" class="custom-select"  name="cinemas" [(ngModel)]="item.placeID" *ngIf="item.place === 'Cinema'">
                                    
                                    <option [value] ="c.cinema_id"  *ngFor='let c  of cinemas' >{{c.name}}</option>
                                    
                                </select>

                                <select  required title="All theatres" class="custom-select"  name="theatres" [(ngModel)]="item.placeID" *ngIf="item.place === 'Theatre'">
                                    
                                    <option [value] = "t.theatre_id"  *ngFor='let t of theatres' >{{t.name}}</option>
                                    
                                </select>
                            </div>



                            <div class="form-group">
                                    <label>Change  item price</label>
                                    <input type="text" class="form-control selected" name="price" 
                                        [(ngModel)] = "item.price" 
                                        required
                                        pattern="[+]?([0-9]+([.][0-9]*)?|[.][0-9]+)"
                                    >
                                </div>  
                            <hr>
                                       
                            
                            <hr>
                            <div class="form-group">
                                    <label> Change  item picture </label>
                                    <input type="file" class="form-control-file"   name="image" 
                                    [(ngModel)]= "item.image"
                                    >
                                   
                            </div>

                            <hr><hr>
                <button type="submit"  class="btn btn-dark btn-lg" [disabled] = "!f.valid">Edit  item</button>
                </form>
            </div>
        </div>
        </div>


</body>
</html>
